version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12.5
        environment:
          GO111MODULE: "on"

    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout

      - run: make test
      - run: make
