
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - perf.kubestone.xridge.io
  resources:
  - iperf3s
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - perf.kubestone.xridge.io
  resources:
  - iperf3s/status
  verbs:
  - get
  - patch
  - update
